<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#3b488e">
    <link rel="icon" href="https://www.quickcode.net/favicon.ico" />
    <!--[if IE]>
    <link rel="shortcut icon" href="https://www.quickcode.net/favicon.ico" type="image/vnd.microsoft.icon" />
    <![endif]-->
    <title>@ViewData["Title"] - Demo Portal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Outfit:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth.css" asp-append-version="true" />
</head>
<body class="auth-body">
    <main class="auth-shell auth-shell--solo">
        <div class="auth-solo">
            <img class="auth-solo__logo" src="/images/logo_s2.png" alt="Demo" />
            @RenderBody()
            <a href="/Login" class="auth-btn">Return to sign in</a>
        </div>
    </main>
</body>
</html>
