name: Demo Build and Deploy

on:
  push:
    branches: [ 'main' ]

env:
  QUICKCODE_SESSION_ID: ${{ secrets.QUICKCODE_SESSION_ID }}
  BUILD_AND_PUSH_CONTAINER_SECRET: ${{ secrets.BUILD_AND_PUSH_CONTAINER_GATEWAY }}

jobs:         
  event-listener-service:
    name: Kafka Event Listener Api
    uses: ./.github/workflows/google-cloudrun-event-listener-service.yml
    secrets: inherit

  gateway:
    name: Gateway Api
    uses: ./.github/workflows/google-cloudrun-gateway.yml
    secrets: inherit
  
  portal:
    name: Admin Portal
    uses: ./.github/workflows/google-cloudrun-portal.yml
    secrets: inherit

  user-manager-module:
    name: User Manager Module Api
    uses: ./.github/workflows/google-cloudrun-user-manager-module.yml
    secrets: inherit

  email-manager-module:
    name: Email Manager Module Api
    uses: ./.github/workflows/google-cloudrun-email-manager-module.yml
    secrets: inherit

  online-shop-module:
    name: Online Shop Module Api
    uses: ./.github/workflows/google-cloudrun-online-shop-module.yml
    secrets: inherit

  sms-manager-module:
    name: Sms Manager Module Api
    uses: ./.github/workflows/google-cloudrun-sms-manager-module.yml
    secrets: inherit

  todo-list-module:
    name: Todo List Module Api
    uses: ./.github/workflows/google-cloudrun-todo-list-module.yml
    secrets: inherit


  complete:
    name: Complete Deployments
    runs-on: ubuntu-latest
    needs:
      - event-listener-service
      - gateway
      - portal
      - user-manager-module
      - email-manager-module
      - online-shop-module
      - sms-manager-module
      - todo-list-module
    if: always()
    steps:
      - name: Complete Notification
        uses: nick-fields/retry@v2
        with:
          command: curl "https://api.quickcode.net/api/GenerateSite/CompleteGeneration?actionId=${{ env.BUILD_AND_PUSH_CONTAINER_SECRET }}&sessionId=${{ env.QUICKCODE_SESSION_ID }}&message=${{ job.status }}"
          max_attempts: 3
          timeout_minutes: 2
